#gameMusic {
  display: none;
}

#dogBark {
  display: none;
}

img {
  position: absolute;
  cursor: pointer;
  height: 100px;
  width: 100px;

}

div {
  position: absolute;
  margin-left: 50px;
  width: 500px;
  height: 500px;
  background-color: aquamarine
  
}

#rightSide {
  left: 500px;
  border-left: 1px solid;

}

#gameContainer {
  background-color: aquamarine;
  margin-top: 20px;
 

}